.grid-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    background: #000;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 250px;
    transform-origin: center center;
    -webkit-transform-origin: center center;
}

.grid-group {
    position: absolute;
    display: block;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}

.grid-node {
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    line-height: 60px;
    vertical-align: middle;
    background-size: auto 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    display: inline-block;
    overflow: hidden;
    border: solid 1px transparent;
    cursor: pointer;
    color: #09f;
    border: 1px solid #09f;
}

.grid-node:hover {
    background-color: rgba(150, 0, 0, 0.9);
    background-size: auto 100%;
    /*border-radius: 50px;*/
}


/*//////////   ui部分    //////////*/

.tag-container {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    position: absolute;
    bottom: 10%;
    left: 0%;
    width: 100%;
    height: 40px;
    text-align: center;
}

.tag-selector {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    cursor: pointer;
    pointer-events: auto;
    /*border: solid 1px #099;*/
    height: auto;
    display: inline-block;
    color: #0af;
    padding: 5px 10px;
    border-radius: 0px;
    margin: 0 5px;
}

.tag-selector:hover {
    background-color: #09f;
    color: #000;
}

.tag-selector-active {
    background-color: #09f;
    color: #000;
    border-radius: 0px;
}