
.L2Dswitch {
    background-color: #5ec5e4;
    /* display: inline-block; */
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 20px; 
    position: absolute;
    bottom: 4%;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    cursor: pointer;
    pointer-events: auto;
    /* align-items: center; */
}

.L2Dswitch:hover {
    background-color: #1e00df;
}

.L2Dswitch-focus {
    background-color: #1e00df;
    border-radius: 20px;
}

/* .live2d-widget-container {
    display: none;
} */


#music_player {
    background-color: #24ec88;
    /* display: inline-block; */
    display: block;
    color: white;
    border-radius: 10px;
    padding: 1px 2px;
    font-size: 20px; 
    position: absolute;
    bottom: 2%;
    left: 35%;
    width:30%;
    height:20px;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    cursor: pointer;
    pointer-events: auto;
}

#music_list {
    background-color: hsl(150, 68%, 68%);
    /* display: inline-block; */
    display: block;
    color: rgb(0, 8, 255);
    border-radius: 10px;
    padding: 1px 2px;
    font-size: 16px; 
    position: absolute;
    bottom: 5%;
    left: 45%;
    width:180px;
    height:30px;
    text-align: center;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    cursor: pointer;
    pointer-events: auto;
}

